<a class="brand" routerLink="/"> Biomercs </a>
<div class="end">
  <ng-container *ngIf="isLogged$ | async; else notLogged">
    <a bioButton *ngIf="user$ | async as user" [routerLink]="['/user', 'profile', user.id]">
      <icon>person</icon>
      {{ user.username }}
    </a>
    <a bioButton (click)="logout()" routerLink="/auth/login">Logout</a>
  </ng-container>
  <ng-template #notLogged>
    <a bioButton routerLink="/auth/register">Register</a>
    <a bioButton routerLink="/auth/login">Login</a>
  </ng-template>
</div>
