@import 'variables';
@import 'functions';
@import 'mixins';

@mixin button($type) {
  &.#{$type} {
    $color: get-color($primary-type, 500);
    $background-color: get-color($type);
    background-color: $background-color;
    color: $color;
    &.fab {
      icon {
        color: $color;
      }
    }
    &.button-icon {
      icon {
        color: $background-color;
      }
    }
    &.disabled:not(.loading) {
      $disabled-color: get-disabled-color($background-color);
      &:not(.button-icon) {
        background-color: $disabled-color;
      }
      &.button-icon {
        icon {
          color: $disabled-color;
        }
      }
    }
    &:not(.disabled) {
      &:hover {
        $hover-color: get-color($type, 50);
        &:not(.button-icon),
        &.fab {
          background-color: $hover-color;
        }
        &.button-icon {
          icon {
            color: $hover-color;
          }
        }
      }
    }
  }
}

.button {
  border-radius: 4px;
  border: 0;
  outline: 0;
  position: relative;
  cursor: pointer;
  box-shadow: none;
  transition: background-color 200ms ease-in-out;
  color: inherit;
  background-color: transparent;
  vertical-align: baseline;
  text-align: center;
  line-height: 2rem;
  padding: 0 1rem;
  font-size: 0.85rem;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  @include button($primary-type);
  @include button($accent-type);
  @include button($danger-type);
  @include form-focus();
  &:not(.disabled) {
    &:focus {
      box-shadow: 0 0 0 2px transparentize($white, 0.5);
    }
    &:active {
      box-shadow: 0 0 0 3px transparentize($white, 0.5);
    }
    &:hover {
      background-color: transparentize($white, 0.9);
    }
  }
  &.disabled {
    cursor: default;
    color: hsla(0, 0%, 100%, 0.5);
  }
  &.loading {
    > .button-content-wrapper {
      opacity: 0.1;
    }
    cursor: progress;
  }
  &.small {
    line-height: 1.75rem;
    font-size: 0.75rem;
    padding: 0 0.75rem;
  }
  &.large {
    line-height: 2.25rem;
    font-size: 1.25rem;
  }
  &.button-icon,
  &.fab {
    padding: 0.25rem;
    border-radius: 50%;
    line-height: 1;
  }
  &.button-icon {
    background-color: transparent;
  }
  > spinner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  > .button-content-wrapper {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
    icon {
      vertical-align: middle;
    }
  }
}

a.button {
  &:hover {
    text-decoration: none;
  }
}
