<form novalidate>
  <card>
    <h6 cardTitle>Login</h6>
    <card-content>
      <form-field [loading]="true">
        <label>Teste</label>
        <input autocomplete="off" bioInput [control]="control" />
        <button type="button" bioButton icon prefix>
          <icon>person</icon>
        </button>
        <errors>
          <error *error="'required'">Required</error>
          <error *error="'email'">Email</error>
          <error *error="'minLength'">MinLength</error>
        </errors>
        <hint>Start</hint>
        <hint end>End</hint>
      </form-field>
    </card-content>
    <card-actions>
      <button bioButton primary (click)="control.reset()" type="button">Reset</button>
    </card-actions>
  </card>
</form>
