<form [controlGroup]="form" (groupSubmit)="login()">
  <card>
    <h3 cardTitle>Login</h3>
    <card-content>
      <form-field>
        <label>Username</label>
        <input autocomplete="username" bioInput controlName="username" />
        <errors>
          <error *error="'required'">Username is required</error>
        </errors>
      </form-field>
      <form-field>
        <label>Password</label>
        <input [type]="typePassword" autocomplete="current-password" bioInput controlName="password" />
        <hint end><a routerLink="../forgot-password">Forgot password?</a></hint>
        <errors>
          <error *error="'required'">Password is required</error>
        </errors>
        <button
          suffix
          bioButton
          icon
          type="button"
          (click)="typePassword = typePassword === 'password' ? 'text' : 'password'"
        >
          <icon>{{ typePassword === 'password' ? 'visibility_off' : 'visibility' }}</icon>
        </button>
      </form-field>
      <label>
        <input type="checkbox" controlName="rememberMe" />
        Remember me
      </label>
      <p *ngIf="error$ | async as error" class="text-danger">{{ error }}</p>
    </card-content>
    <card-actions end *ngLet="loading$ | async as loading">
      <button
        bioButton
        primary
        type="button"
        (click)="loginSteam()"
        [loading]="loading.loadingSteam"
        [disabled]="loading.loading"
      >
        Login Steam
      </button>
      <button
        bioButton
        primary
        type="submit"
        [disabled]="form.invalid || loading.loadingSteam"
        [loading]="loading.loading"
      >
        Login
      </button>
    </card-actions>
  </card>
</form>
