div {
  outline: 0;
}

input {
  width: 2rem;
  text-align: center;
  &:not(:last-of-type) {
    margin-right: 0.5rem;
  }
}

.errors {
  padding: 0.25rem 0.5rem 0;
  min-height: 1.25rem;
  position: relative;
}
