@import 'variables';
@import 'mixins';

.modal {
  padding: 1rem;
  background-color: $dark-overlay;
  border-radius: $radius;
  width: 100%;
  height: 100%;
  min-height: inherit;
  max-height: inherit;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
  @include elevation(5);
  .modal-title {
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .modal-content {
    display: block;
    max-height: 65vh;
    overflow: auto;
    margin: 0 -1rem;
    padding: 0 1rem;
  }
  .modal-actions {
    @include actions();
  }
}
