<form [controlGroup]="form" (groupSubmit)="submit()" *ngIf="state$ | async as state">
  <card>
    <h3 cardTitle>Register Steam</h3>
    <card-content>
      <ng-container *ngIf="state.emailSent; else emailForm">
        <p>Please confirm the code we sent to your e-mail</p>
        <bio-confirmation-code-input
          controlName="code"
          (focusoutLastItem)="submit()"
          label="Confirmation code"
          [codeError]="confirmCodeError$ | async"
        ></bio-confirmation-code-input>
      </ng-container>

      <ng-template #emailForm>
        <p>Fill the box with your e-mail and click register to complete your registration</p>
        <form-field label="E-mail">
          <input autocomplete="email" placeholder="E-mail" bioInput controlName="email" type="email" />
          <errors>
            <error *error="'email'">This e-mail is not valid</error>
            <error *error="'required'">E-mail is required</error>
          </errors>
        </form-field>
      </ng-template>
    </card-content>
    <card-actions end>
      <button bioButton primary type="submit" [disabled]="form.invalid" [loading]="state.loading">
        {{ state.emailSent ? 'Send confirmation code' : 'Register' }}
      </button>
    </card-actions>
  </card>
</form>
