@import 'variables';
@import 'mixins';
@import 'functions';

label {
  font-size: 0.75rem;
  padding: 0 0.5rem 0.25rem;
  display: inline-block;
  font-weight: 500;
  &.accent {
    color: $accent;
  }
  &.danger {
    color: $danger;
  }
}

.input {
  width: 100%;
  outline: 0;
  padding: 0.25rem 0.5rem;
  box-sizing: border-box;
  border-radius: $radius;
  border: 1px solid $primary;
  font-size: 0.75rem;
  &.accent {
    border-color: $accent;
  }
  &.danger {
    border-color: $danger;
  }
  &.small {
    font-size: 0.5rem;
  }
  &.large {
    font-size: 1.25rem;
  }
  @include form-focus();
}

textarea.input {
  font-size: 0.85rem;
}

input.no-arrows {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.error {
  display: block;
  font-size: 0.65rem;
  color: $danger;
}
