<div class="collapse-header" (click)="toggle()">
  <ng-container *ngIf="collapseTitleDirectives?.length; else notTitleRef">
    <ng-content select="[collapseTitle]"></ng-content>
  </ng-container>
  <ng-template #notTitleRef>
    <div class="collapse-title">{{ collapseTitle }}</div>
  </ng-template>
  <div class="collapse-icon">
    <icon [@collapseIcon]="expanded ? 'expanded' : 'collapsed'">expand_less</icon>
  </div>
</div>
<div class="collapse-body" *ngIf="expanded" @collapse>
  <div class="collapse-content">
    <ng-content></ng-content>
  </div>
</div>
