@import 'variables';
@import 'functions';
@import 'mixins';

.collapse {
  display: block;
  border-radius: $radius;
  background-color: $dark-overlay;
  @include elevation(2);
  > .collapse-header,
  > .collapse-body > .collapse-content {
    padding: 1rem;
  }
  > .collapse-body > .collapse-content {
    padding-top: 0;
  }
  &:not(.disabled) {
    > .collapse-header {
      cursor: pointer;
    }
    &:not(.expanded) {
      &:hover {
        background-color: lighten($dark-overlay, 5);
      }
    }
  }
  > .collapse-header {
    display: flex;
    justify-content: space-between;
    > .collapse-icon {
      display: flex;
      icon {
        color: get-color($primary-type, 600);
      }
    }
  }
}
