@import 'variables';

.form-field {
  display: block;
  > .input-wrapper {
    z-index: 1;
    position: relative;
    > .spinner-wrapper {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      bottom: 0;
      right: 0.5rem;
    }
  }
  > .bottom-wrapper {
    padding: 0.25rem 0.5rem 0;
    min-height: 1.25rem;
    position: relative;
    .errors {
      position: absolute;
      top: 0.25rem;
      .error {
        display: block;
        font-size: 0.65rem;
        color: $danger;
      }
    }
    > .hints {
      display: flex;
      .hint {
        font-size: 0.65rem;
        color: $primary-100;
        display: block;
      }
      > .hint-spacer {
        flex-grow: 1;
      }
    }
  }
}
