<form [controlGroup]="emailForm" (groupSubmit)="submit()">
  <card *ngLet="state$ | async as state">
    <h3 cardTitle>Forgot password</h3>
    <card-content *ngIf="state.emailSent; else email">
      <bio-confirmation-code-input
        controlName="code"
        (focusoutLastItem)="inputNewPassword.focus()"
        label="Confirmation code"
        [codeError]="confirmCodeError$ | async"
      ></bio-confirmation-code-input>
      <form-field label="New password">
        <input
          #inputNewPassword
          autocomplete="new-password"
          placeholder="New password"
          bioInput
          controlName="password"
          type="password"
        />
        <errors>
          <error *error="'required'">New password is required</error>
        </errors>
      </form-field>
      <bio-password-strong [password]="password$ | async"></bio-password-strong>
    </card-content>
    <ng-template #email>
      <card-content>
        <p>Forgot your password? No problemo, just fill the box bellow with your e-mail and hit the button</p>
        <form-field label="E-mail">
          <input autocomplete="email" placeholder="E-mail" bioInput controlName="email" type="email" />
          <errors>
            <error *error="'email'">This e-mail is not valid</error>
            <error *error="'required'">E-mail is required</error>
          </errors>
        </form-field>
      </card-content>
    </ng-template>

    <card-actions>
      <button bioButton type="submit" primary [disabled]="emailForm.invalid" [loading]="state.loading">
        {{ state.emailSent ? 'Change password' : 'Send confirmation code' }}
      </button>
    </card-actions>
  </card>
</form>
